.current-forecast {
    flex-direction: column;

    width: 100%;
    max-width: 600px;

    padding: 15px;

    /* box-shadow: 0 2px 5px var(--clr-midnight-blue); */
    box-shadow: inset 2px 2px 5px var(--clr-midnight-blue);
    border-radius: 5px;
    transition: box-shadow 1s linear;
}

.main-forecast {
    padding: 10px;
}
.main-forecast-img {
    width: 128px;
    height: 128px;
}
.main-forecast-temp {
    font-family: "Baloo Da 2";
    font-weight: 600;
    font-size: clamp(3rem, 4vw, 3.5rem);

    margin: 15px;
}

.wind-forecast img {
    padding: 0 10px;
}

.three-day-forecast {
    align-items: flex-start;
    flex-direction: column;

    width: 100%;
}
.three-day-forecast-day {
    flex-direction: column;
    width: 100%;
    max-width: 600px;

    padding: 10px;
    margin: 10px auto;

    box-shadow: 0 2px 5px var(--clr-midnight-blue);
    border-radius: 5px;
}
.three-day-forecast-day > * {
    flex: 1 1 100%;
}
.three-day-forecast-date {
    text-align: left;
    padding-left: 15px;
}
.three-day-forecast-day img {
    margin: 0 15px;
}

@media only screen and (min-width: 768px) {
    .current-forecast {
        flex-direction: row;
    }
    .three-day-forecast-day {
        flex-direction: row;
    }
}