main {
    position: relative;
    min-height: 100vh;
}
main section {
    max-width: 650px;
    min-height: 500px;
    margin: 0 auto;
}
.current-location-banner {
    min-width: 350px;

    z-index: 2;

    padding: 5px 30px;
    border-radius: 5px;

    position: absolute;
    top: 13.5%;
    left: 50%;
    transform: translate(-50%, -50%);

    display: none;
}

/*** MEDIA QUERY ***/
@media only screen and (min-width: 1200px) {
    main {
        display: flex;
        justify-content: center;
        align-items: flex-start;
    }
    main section {
        width: 100%;
        margin: 10% 10px;
        padding: 15px;
        border-radius: 10px;
    }

    .current-location-banner {
        display: block;
    }
}