header {
    background: var(--clr-midnight-blue);
    width: 100%;

    justify-content: space-between !important;
    flex-wrap: wrap;

    padding: 15px;

    position: fixed;
    top: 0;
    z-index: 10;
}

.header-search {
    display: none;
}

.header-mini-forecast {
    margin: 0 20px;
}
.mini-forecast-icon {
    width: 40px;
    height: 40px;

    margin: 0 0 0 5px;
}

.nav-icon-btn {
    cursor: pointer;
}
.fa-close {
    display: none;
}

@media only screen and (min-width: 768px) {
    .header-search {
        display: block;
    }
}

@media only screen and (min-width: 1200px) {
    header {
        position: sticky;
    }
}