.sidebar-nav {
    width: 80%;
    height: 100%;

    position: fixed;
    top: 0;
    right: -100%;
    z-index: 2;

    transition: 500ms ease-in-out;
}
.sidebar-nav div {
    width: 100%;

    position: absolute;
    top: 60%;
    left: 50%;
    transform: translate(-50%, -50%);

    margin: -200px auto;
}
.sidebar-nav-search {
    display: block;

    margin: 0 auto;
}
.sidebar-nav-list {
    width: 75%;
    margin: 0 auto;
}
.sidebar-nav-list-item {
    max-width: 250px;
    height: 40px;
    
    margin: 20px auto;
    border-radius: 5px;
}
.sidebar-nav-list-item a {
    color: var(--clr-midnight-blue);
    text-decoration: none;

    width: 100%;
    height: 100%;
}
.sidebar-nav-list-item a:hover {
    text-decoration: underline;
}

@media only screen and (min-width: 768px) {
    .sidebar-nav {
        width: 60%;
    }
    .sidebar-nav-search {
        display: none;
    }
}

@media only screen and (min-width: 992px) {
    .sidebar-nav {
        width: 40%;
    }
}

@media only screen and (min-width: 1200px) {
    .sidebar-nav {
        width: 30%;
    }
}